.post {
    text-align: center;
    background-color: white;  
    width: 500px;
    height: 550px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 425px;
}
.post-image {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.post-image img {
    width: 100%;
}
.post-header {
    border: 10px;
}
h1 {
    padding-left: 10px;
    text-align: left;
}
body {
    background-color: black;
}
#font-awesome-icons {
    
}
#the-likes {
    text-align: end;
}
#first-icon {
    text-align: right;
}
    
